<nav class = " px-4 py-3  bg-slate-300 flex justify-between font-dosis items-center">
   
<h3 class = "text-2xl font-pacifico text-primary"><a href="/">Ideator</a></h3>
<div class="flex justify-between gap-4 align-center items-center">
  <a href ="/">All Ideas</a>
  <a href ="/random">Random</a>
  <a href ="/about">About</a>
</div>
</nav>